**/node_modules

./netlify

.DS_Store

./frontend/.DS_Store

./build/

./frontend/build/

../build

../frontend/build/*

./frontend/build/
./frontend/build/static/
./frontend/build/asset-manifest.json

../frontend/build/
../frontend/build/static/
../frontend/build/asset-manifest.json

./frontend/build/*
frontend/build/static/*
frontend/build/*
frontend/build