@import url("https://p.typekit.net/p.css?s=1&k=sjh2xka&ht=tk&f=6839.28208.39494.39495.39500.39501.39504.39505.39508.39509&a=2376974&app=typekit&e=css");
@import url("https://fonts.cdnfonts.com/css/old-london");
@import url("https://fonts.cdnfonts.com/css/diploma");

.App {
  text-align: center;
}

tr,
td,
th {
  border: 1px red solid;
}

table {
  padding: 15px;
  width: 100%;
}

@font-face {
  font-family: "Engravers' Old English BT";
  src: url("https://db.onlinewebfonts.com/t/d571b52b60b5617399ce8eab62bf3eb3.eot");
  src: url("https://db.onlinewebfonts.com/t/d571b52b60b5617399ce8eab62bf3eb3.eot?#iefix")
      format("embedded-opentype"),
    url("https://db.onlinewebfonts.com/t/d571b52b60b5617399ce8eab62bf3eb3.woff2")
      format("woff2"),
    url("https://db.onlinewebfonts.com/t/d571b52b60b5617399ce8eab62bf3eb3.woff")
      format("woff"),
    url("https://db.onlinewebfonts.com/t/d571b52b60b5617399ce8eab62bf3eb3.ttf")
      format("truetype"),
    url("https://db.onlinewebfonts.com/t/d571b52b60b5617399ce8eab62bf3eb3.svg#Engravers' Old English BT")
      format("svg");
}

@font-face {
  font-family: "cooper-black-std";
  src: url("https://use.typekit.net/af/9044bf/000000000000000000013102/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i4&v=3")
      format("woff2"),
    url("https://use.typekit.net/af/9044bf/000000000000000000013102/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i4&v=3")
      format("woff"),
    url("https://use.typekit.net/af/9044bf/000000000000000000013102/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i4&v=3")
      format("opentype");
  font-display: auto;
  font-style: italic;
  font-weight: 400;
}

@font-face {
  font-family: "p22-mackinac-pro";
  src: url("https://use.typekit.net/af/c88cc7/00000000000000007735b3d6/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i8&v=3")
      format("woff2"),
    url("https://use.typekit.net/af/c88cc7/00000000000000007735b3d6/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i8&v=3")
      format("woff"),
    url("https://use.typekit.net/af/c88cc7/00000000000000007735b3d6/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i8&v=3")
      format("opentype");
  font-display: auto;
  font-style: italic;
  font-weight: 800;
}

.siteTitle {
  font-family: cooper-black-std, serif;
  font-family: "Old London", sans-serif;
  font-family: "Diploma", sans-serif;
  letter-spacing: 3px;
}

.App-header {
  background-color: #193252;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "a b";
  color: #00dcff;
  display: grid;
  /* grid-gap: 10px; */
  align-items: start;
  text-align: left;
  padding: 20px 60px;
  padding-bottom: 0;
  align-items: center;
  margin: 0;
}

.App-header h1 {
  width: 100%;
  grid-area: a;
  font-size: 3rem;
  margin-bottom: 0px;
  margin-top: 0px;
}
.App-header h1 a {
  color: #00dcff;
  text-decoration: none;
}
.App-header img {
  width: 15%;
  justify-self: end;
  grid-area: b;
}

.App-link {
  color: #193252;
}

.story {
  border-radius: 5px;
  box-shadow: 0 30px 60px -12px rgb(50 50 93 / 25%),
    0 18px 36px -18px rgb(0 0 0 / 30%), 0 -12px 36px -8px rgb(0 0 0 / 3%);
  transition: 0.2s ease-out;
  padding: 30px;
}

/* .story:hover {
  transform: translateY(-3px);
  box-shadow: 0 18px 35px rgb(50 50 93 / 10%), 0 8px 15px rgb(0 0 0 / 7%);
} */

.stories {
  display: grid;
  grid-gap: 20px;
  list-style: none;
  width: 85%;
  margin: auto;
  grid-template-areas: "a b";
  padding-top: 50px;
  padding-inline-start: 0;
}

.story-title {
  grid-area: a;
  text-align: left;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 20px;
  padding-top: 0px;
  padding-bottom: 15px;
  width: 85%;
  font-family: neue-haas-grotesk-text, sans-serif;
  font-weight: 700;
  font-style: italic;
  /* margin: auto; */
  text-align: left;
  line-height: 1.2;
}

.story-img {
  width: 100%;
  max-width: 100%;
  max-height: 150px;
  /* height: 90%; */
  object-fit: cover;
  border-radius: 5px;
}

.story-body {
  grid-area: b;
  text-align: left;
  font-style: italic;
  max-width: 100%;
  padding-bottom: 15px;
  width: 90%;
  font-family: neue-haas-grotesk-text, sans-serif;
  font-weight: 400;
  font-style: normal;
  /* padding-top: 15px; */
  grid-area: "a";
  /* padding-right: 15px; */
  padding-top: 0;
  padding-left: 15px;
}

/* .story-link {
  box-shadow: 0 2px 5px 0 rgb(50 50 93 / 10%), 0 1px 1px 0 rgb(0 0 0 / 7%);
  border-radius: 4px;
  height: 32px;
  font-size: 16px;
  color: white;
  background-color: #193252;
  font-weight: 500;
  padding: 0 12px;
  line-height: 32px;
  cursor: pointer;
  outline: none;
  display: inline-block;
  text-decoration: none;
  text-transform: none;
  grid-area: "b";
  align-self: center;
} */

/* 44444444444353453425252352345 */
.story-link {
  border-radius: 4px;
  background-color: #193252;
  border: none;
  color: #fff;
  text-align: center;
  /* font-size: 32px;
  padding: 16px;
  width: 220px; */
  height: 32px;
  font-size: 16px;
  padding: 0 12px;
  width: 50%;
  margin: auto;
  line-height: 32px;
  cursor: pointer;
  text-decoration: none;
  transition: all 0.3s;
  cursor: pointer;
  /* margin: 36px; */
  box-shadow: 0 10px 20px -8px rgba(0, 0, 0, 0.7);
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
  margin-left: 15px;
  float: left;
}

/*
.story-link:after {
  content: "→";
  position: absolute;
  opacity: 0;
  // top: 14px;
  right: -20px;
  transition: 0.3s;
}

.story-link:hover {
  padding-right: 20px;
  padding-left: 4px;
}

.story-link:hover:after {
  opacity: 1;
  right: 28px;
}
*/
/* 44444444444353453425252352345 */

.story-content {
  display: grid;
  /* grid-template-areas: "b a"; */
  grid-template-areas: "a b";
  grid-template-columns: 1fr 1fr;
  /* padding-bottom: 20px; */
}

svg {
  transform: rotateX(180deg);
  width: 100%;
  bottom: 0;
  left: 0;
  animation-name: move-left;
  animation-duration: 40s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  position: relative !important;
  top: -2px !important;
}

.credit {
  color: #00dcff;
  margin: 0;
  font-size: small;
  padding-bottom: 10px;
  font-weight: bold;
}

.credit a {
  color: #00dcff;
  font-weight: bold;
  font-style: italic;
  font-weight: bold;
}

.credit a:hover {
  color: lightgrey;
  font-style: bold;
  transition: color 0.4s, background-color 0.4s, border-color 0.4s;
  /* border-bottom: 1px solid white; */
}

.loading {
  width: 335px;
  margin: auto;
}

.loading svg {
  height: 150px;
}

.masthead {
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  justify-content: space-between;
  width: 80%;
  margin: auto;
  text-transform: uppercase;
  font-family: neue-haas-grotesk-text, sans-serif;
  font-weight: 300;
}

.masthead a {
  text-decoration: none;
  color: black;
  /* border-bottom: 3px solid transparent; */
  font-size: small;
}

.masthead span:hover {
  font-weight: bold;
  /* border-bottom: 3px solid #193152; */
  width: max-content;
  margin: auto;
  color: #193152;
  font-weight: 800;
  cursor: pointer;
}

@media only screen and (min-width: 767px) {
  .story-link:after {
    content: "→";
    position: absolute;
    opacity: 0;
    right: -20px;
    transition: 0.3s;
  }

  .story-link:hover {
    padding-right: 20px;
    padding-left: 4px;
  }

  .story-link:hover:after {
    opacity: 1;
    right: 28px;
  }

  .stories {
    /* grid-gap: 100px;
    width: 95%; */
    grid-gap: 50px;
    width: 85%;
  }
}

@media only screen and (max-width: 767px) {
  .App-header {
    grid-template-areas:
      "b"
      "a"
      "c";
    grid-template-columns: 1fr;
  }
  /* .App-header a {
    display: none;
  } */
  .App-header img {
    width: 25%;
    grid-area: "a";
    margin: auto;
    padding-top: 20px;
  }
  .App-header h1 {
    font-size: 2rem;
    grid-area: "b";
    text-align: center;
    margin-top: 0px;
    padding-bottom: 7px;
  }

  .stories {
    grid-template-areas: none;
    padding-inline-start: 0px !important;
    width: 90%;
  }
  svg {
    height: 150px;
  }
  .credit {
    color: #00dcff;
    font-weight: bold;
    margin: 0;
    font-size: x-small;
    grid-area: "c";
    text-align: center;
  }
  .story-title {
    font-size: 14px;
    width: 100%;
  }

  .story {
    padding: 20px 15px;
  }

  .story-content {
    display: grid;
    grid-template-areas:
      "b"
      "a";
  }

  .story-body {
    width: 100%;
    max-width: 90%;
    font-size: small;
  }

  .story-img {
    height: 100%;
  }
  .story-link {
    width: 30%;
    /* margin: auto; */
    float: left;
    margin-left: 15px;
  }
  .masthead {
    grid-template-columns: repeat(5, 1fr);
    font-size: small;
    width: 90%;
  }
  .masthead a {
    padding-bottom: 10px;
    font-size: x-small;
  }
}
