.App {
  text-align: center;
}

tr,
td,
th {
  border: 1px red solid;
}
table {
  padding: 15px;
  width: 100%;
}

.App-header {
  background-color: #6eb6e5;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "a b";
  color: white;
  display: grid;
  grid-gap: 10px;
  align-items: start;
  text-align: left;
  padding: 20px;
  padding-bottom: 0;
  align-items: center;
  margin: 0;
}
.App-header h1 {
  width: 100%;
  grid-area: a;
}

.App-header img {
  width: 40%;
  justify-self: end;
  grid-area: b;
}

.App-link {
  color: #61dafb;
}
.stories {
  display: grid;
  grid-gap: 20px;
  list-style: none;
  width: 85%;
  margin: auto;
  grid-template-areas: "a b";
  padding-top: 50px;
}

.story-title {
  grid-area: a;
  text-align: left;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 15px;
  padding-top: 15px;
  padding-bottom: 5px;
  width: 85%;
}
.story-body {
  grid-area: b;
  text-align: left;
  font-style: italic;
  padding-bottom: 15px;
  width: 85%;
}
svg {
  transform: rotateX(180deg);
  width: 100%;
  bottom: 0;
  left: 0;
  animation-name: move-left;
  animation-duration: 40s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  position: relative !important;
  top: -2px !important;
}

.credit {
  color: white;
  margin: 0;
  font-size: small;
  padding-bottom: 10px;
}

.credit a {
  color: white;
  font-style: italic;
}

.credit a:hover {
  color: lightgrey;
  font-style: bold;
  transition: color 0.4s, background-color 0.4s, border-color 0.4s;
  /* border-bottom: 1px solid white; */
}
.loading {
  width: 335px;
  margin: auto;
}

.loading svg {
  height: 150px;
}

@media only screen and (max-width: 767px) {
  .App-header img {
    width: 100%;
  }
  .App-header h1 {
    font-size: 1.5rem;
  }
  .stories {
    grid-template-areas: none;
    padding-inline-start: 20px !important;
  }
  svg {
    height: 150px;
  }
  .credit {
    color: white;
    margin: 0;
    font-size: x-small;
  }
}
